  # version: "3.8"

  services:

    db:
      container_name: repairo-db
      image: postgres:latest
      restart: always
      environment:
        POSTGRES_DB: repairo
        POSTGRES_USER: root
        POSTGRES_PASSWORD: 123456
      ports:
        - "5433:5432" 
      volumes:
        - repairo_pg_data:/var/lib/postgresql/data


    backend:
      container_name: repairo-backend
      restart: always
      build:
        context: ./backend
        dockerfile: Dockerfile
      volumes:
        - ./backend:/app
        - /app/node_modules
        # - /app/prisma
      env_file:
        - ./backend/.env.local
      ports:
        - "8000:8000"
      depends_on:
        - db


    frontend:
      container_name: repairo-frontend
      restart: always
      build:
        context: ./frontend
        dockerfile: Dockerfile
      volumes:
        - ./frontend:/app
        - /app/node_modules
      env_file:
        - ./frontend/.env.local
      ports:
        - "3000:3000"
      environment:
        - CHOKIDAR_USEPOLLING=true

  volumes:
    repairo_pg_data:



